#form-container-teste-newsletter-bb8489354752dca8b3b3
  #conversion-teste-newsletter-bb8489354752dca8b3b3
  header
  h1,
#form-container-teste-newsletter-bb8489354752dca8b3b3
  #conversion-teste-newsletter-bb8489354752dca8b3b3
  header
  h1,
#conversion-teste-newsletter-bb8489354752dca8b3b3 form label,
#conversion-teste-newsletter-bb8489354752dca8b3b3 form p.notice,
#conversion-teste-newsletter-bb8489354752dca8b3b3 form p.notice a,
h2#form-teste-newsletter-bb8489354752dca8b3b3 *,
h2#form-teste-newsletter-bb8489354752dca8b3b3 ::before,
h2#form-teste-newsletter-bb8489354752dca8b3b3 ::after {
  font-family: "Nunito", sans-serif !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3
  #conversion-teste-newsletter-bb8489354752dca8b3b3
  section
  form {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: center !important;
}
div#form-container-teste-newsletter-bb8489354752dca8b3b3
  #conversion-teste-newsletter-bb8489354752dca8b3b3
  section {
  padding: 3rem 12rem 3rem 12rem !important;
}
#conversion-teste-newsletter-bb8489354752dca8b3b3 section div.field,
#conversion-modal-teste-newsletter-bb8489354752dca8b3b3
  .modal-content
  section
  form
  div.field,
#conversion-modal-teste-newsletter-bb8489354752dca8b3b3
  .modal-content
  section
  div.actions,
#conversion-teste-newsletter-bb8489354752dca8b3b3 section div.actions {
  display: inline-block !important;
  vertical-align: middle !important;
  height: 100% !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3
  #conversion-teste-newsletter-bb8489354752dca8b3b3
  #conversion-form-teste-newsletter-bb8489354752dca8b3b3
  div.actions
  input.call_button {
  font-size: 14px !important;
  vertical-align: middle !important;
  padding: 6px 10px !important;
  font-family: "Nunito", sans-serif !important;
  line-height: normal !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3
  #conversion-teste-newsletter-bb8489354752dca8b3b3
  #conversion-form-teste-newsletter-bb8489354752dca8b3b3
  div.actions {
  text-align: center !important;
  padding: 22px 0 8px 0 !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3
  #conversion-teste-newsletter-bb8489354752dca8b3b3
  #conversion-form-teste-newsletter-bb8489354752dca8b3b3
  div.field {
  padding: 0 12px 12px 0 !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3
  #conversion-teste-newsletter-bb8489354752dca8b3b3
  #conversion-form-teste-newsletter-bb8489354752dca8b3b3
  div.field
  input {
  font-size: 14px !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  padding-right: 10vw !important;
}
#formColor {
  background-color: #39c6b3 !important;
}
.formTextNews {
  color: white;
  font-size: 1.6rem;
}
