#insta-text {
  margin-top: 2rem;
  color: $orange;
  font-weight: 800;
  font-size: 36px;
}

#instafeed {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;

  .insta-img-container {
    position: relative;
    display: block;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;

    .insta-img {
      position: relative;
      width: 100%;
      display: block;
      margin: auto auto;
    }
  }
}
