#vtexIdContainer .vtexIdUI {
  font-family: "Nunito", sans-serif !important;
  border: 2px solid #39c6b3 !important;
}
#vtexIdContainer .vtexIdUI {
  background-color: #e57b3e !important;
}
#vtexIdContainer .modal-header {
  background-color: #e57b3e !important;
  border-bottom: none !important;
  display: initial !important;
}
#vtexIdContainer .modal-body {
  background-color: #e57b3e !important;
}
#vtexIdContainer .modal-footer {
  border-top: none !important;
  box-shadow: none !important;
  background-color: #e57b3e !important;
}
#vtexIdContainer h4 {
  text-align: center !important;
  font-size: 1.2rem !important;
  color: #f7f2ee !important;
}
#vtexIdContainer .btn-success {
  background-color: #39c6b3 !important;
  border: 1px solid #f7f2ee !important;
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
#vtexIdContainer .btn {
  background-image: none !important;
  border-radius: 6px !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
button.vtexIdUI-others-send-email {
  background-color: #2ea2cc !important;
  color: #f7f2ee !important;
}
.vtexIdUI-heading {
  text-align: center !important;
}
.vtexid-icon-mail {
  display: none !important;
}
.vtexIdUI .pull-right {
  color: #f7f2ee !important;
}
.vtexIdUI .vtexId-link,
.vtexIdUI a {
  color: #f7f2ee !important;
}
span.vtexIdUI-heading {
  color: white !important;
}
span.flex.align-baseline.relative {
  color: #39c6b3;
}
