section.container {
  padding: 2rem;
}
aside.vtex-account__menu.pv9.pv0-m-2.ph9.ph7-m.ph8-l.w-20-m.w-100 {
  width: auto !important;
}
.vtex-pageHeader__container.pa5.pa7-ns {
  padding: 0 !important;
}
