.ds-new-vitrine {
  ul {
    display: flex;
    flex-wrap: wrap;

    @include d(xs) {
      li {
        width: 100%;
        margin: 0 6px;
        margin-bottom: 20px !important;
      }
    }

    @include d(sm) {
      li {
        width: 100%;
        margin: 0 7px;
        margin-bottom: 14px;
      }
    }

    li {
      position: relative;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      @include transition(0.3s);

      &:hover {
        border-color: rgba(0, 0, 0, 0.15);
        opacity: 0.9;
      }

      a {
        outline: 0;

        .flag {
          &.capas {
            display: none;
            position: absolute;
            text-transform: uppercase;
            min-width: 60px;
            text-align: center;
            font-size: 0.6em;
            padding: 8px 8px;
            color: $white;
            left: -6px;
            top: 5px;
            border-radius: 0 4px 4px 0;
            background-color: $blue;

            &:before {
              content: "";
              position: absolute;
              border-left: 5px solid transparent;
              border-right: 0px solid transparent;
              border-top: 5px solid $blue;
              left: 0;
              bottom: -5px;
            }
          }
        }

        .ds-image {
          overflow: hidden;
          background-color: #f8f8f8;
          border-radius: 10px 10px 0 0;

          img {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: auto;
            padding: 10px;
            transform: rotate(-20deg);
          }
        }

        .ds-info {
          padding: 10px;
          background-color: #f2f2f2;
          border-radius: 0 0 10px 10px;

          .ds-title {
            color: $gray;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
            min-height: 50px;
            margin-bottom: 20px;
          }

          @include d(sm) {
            .title {
              min-height: 45px;
            }
          }

          .ds-price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .price-old-best {
              display: flex;
              align-items: center;
              justify-content: center;

              .old-price {
                color: $blue;
                font-size: 0.75em;
                text-decoration: line-through;
              }

              .best-price {
                font-size: 18px;
                color: $gray;
                font-weight: 400;
              }
            }
          }
          .buy-button {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: $orange;
          }

          .out-of-stock {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: $error;
          }
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    .slick-dots {
      position: relative;
      justify-content: center;
      height: 20px;

      li {
        background-color: transparent;
        border: none;
        width: 20px;
        height: 20px;
        text-align: center;
      }
    }
  }
}
