.cardWhite {
  background-color: #f7f2ee !important;
  border: none !important;
}
.card-body-orange {
  background-color: #e57b3e !important;
}
.cardGreen {
  background-color: #39c6b3 !important;
}
.cardBlue {
  background-color: #2ea2cc !important;
}
.card-body {
  background-color: #f7f2ee !important;
  color: gray !important;
}
.card-header {
  background-color: #2ea2cc !important;
  color: white !important;
}
.card-header h2 button {
  color: white !important;
}
.card-header:hover {
  background-color: #e57b3e !important;
  color: white !important;
}
