html,
body {
  font-family: 'Nunito', sans-serif !important;
}
.icon {
  font-size: 20px;
}
i {
  color: #2EA2CC;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
  color: #e99a6d !important;
}
li {
  list-style-type: none;
}
hr {
  border: 1px solid #39C6B3 !important;
}
.iconStyle {
  font-size: 36px;
  color: #E57B3E;
  text-align: center;
}
.iconStyleW {
  font-size: 36px;
  color: white;
  text-align: center;
}
.chat-style {
  color: #39C6B3 !important;
}
.chat-style span {
  font-size: 36px;
}
.usoStyle {
  color: white;
  font-size: 12px;
}
.usoStyle a {
  color: white;
}
/* NAVBAR */
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.navbar-light .navbar-nav .nav-link {
  color: #2EA2CC !important;
}
.dropdown-item {
  color: #39C6B3 !important;
}
.border-top {
  border-top: 1px solid #edf0f5 !important;
}
.fulltext-search-box {
  font-family: 'Nunito', sans-serif !important;
  background-color: #F7F2EE !important;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: #2EA2CC !important;
  border: 2px solid #2EA2CC !important;
  border-radius: 5px;
  width: 300px;
}
.btn-buscar {
  background-image: url('https://cursorcss.s3-sa-east-1.amazonaws.com/search-icon.png');
  background-repeat: no-repeat;
  border: none;
  height: 24px;
  width: 24px;
  margin-left: 0.5rem;
  position: absolute;
}
input[type="button"] {
  color: transparent;
  -webkit-appearance: push-button;
  user-select: none;
  white-space: none;
  align-items: none;
  text-align: none;
  cursor: default;
  background-color: transparent;
}
.iconCart {
  padding-right: 0 !important;
}
.greenLine::before {
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 140px;
  height: 2px;
  background: #39C6B3;
}
.count {
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  background: #E57B3E;
  color: white;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.badge {
  color: white !important;
  font-size: 1rem !important;
  background-color: #E57B3E !important;
  margin-left: 10px !important;
}
/* BREADCRUMB */
.breadcrumbStyle .breadcrumb {
  background-color: white !important;
}
.breadcrumbStyle .breadcrumb a {
  font-size: 14px !important;
  color: #2EA2CC !important;
}
.breadcrumb-item.active {
  color: #E57B3E !important;
}
#box-bread-brumb {
  font-size: 14px !important;
  color: #2EA2CC !important;
}
.bread-crumb ul {
  list-style-type: none !important;
  padding: 1em !important;
  display: inline-flex !important;
}
.bread-crumb ul li+li:before {
  padding: 8px;
  color: #39C6B3;
  content: "/\00a0";
}
.bread-crumb a {
  font-size: 14px !important;
  color: #2EA2CC !important;
}
.pull-right {
  color: #39C6B3;
}
/* FOOTER */
.fooStyle {
  background-color: #E57B3E;
}
.fooStyleul li {
  margin-bottom: 10px;
}
.fooStyle ul li a {
  color: white;
}
.fooStyle ul li a:hover {
  color: #e99a6d;
}
.list-unstyled {
  color: white;
}
.faixaFooterWhite {
  background-color: white;
}
h5 {
  font-size: 1rem !important;
}
/* MINI CART - CARRINHO */
ul.cont-car {
  font-family: 'Nunito', sans-serif !important;
  background-color: #F7F2EE;
  border: 2px solid #2EA2CC;
  border-radius: 4px;
  box-shadow: 0 -5px 15px #D0D0D0;
  display: none;
  position: absolute;
  top: 30px;
  right: 10%;
  width: auto;
  height: auto;
  z-index: 9999;
}
.mini-c-div, .amount-c {
  padding: 1rem;
}
.amount-c {
  font-size: 0.8rem;
  border-top: 2px solid #39C6B3;
  border-bottom: 2px solid #39C6B3;
  background-color:gray;
  display: none !important;
}
.amount-c-div {
  padding: 1rem;
}
.mini-cart-div, .mini-c-div {
  text-align: center;
  padding: 1rem;
}
.mini-cart-div a {
  color: white;
  background-color: #E57B3E;
  border-radius: 3px;
  padding: 12px;
}
.mini-cart-botao {
  padding: 1rem;
}
.cart-div:hover ul.cont-car {
  display: block;
}
ul.cont-car li {
  display: block;
}
div.v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded {
  overflow: inherit !important;
  display: block !important;
}
.cartSkuName h4 {
  font-size: 12px;
  text-align: left;
  width: 200px;
  color: #2EA2CC;
}
.cartSkuName h4 a {
  color: #2EA2CC;
}
.text {
  display: inline !important;
}
.cartFooter {
  padding: 1rem;
}
.vtexsc-text {
  font-size: 1.5rem;
}
.vtexsc-productList thead tr th {
  padding: 1rem;
}
.vtexsc-productList tbody tr span {
  font-size: 12px;
}
.vtexsc-productList, .vtexsc-productList th, .vtexsc-productList td {
  border: 2px solid #39C6B3;
}
/* CAROUSEL */
.color-item .color {
  width: 14px;
  height: 14px;
}
.carousel h2 {
  font-size: 7vw;
}
/* INSTAFEED */
#instafeed {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
}
#insta-text {
  margin-top: 2rem;
  color: #E57B3E;
  font-weight: 800;
  font-size: 36px;
}
.insta-img-container {
  position: relative;
  display: block;
  width: 300px;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.insta-img {
  position: relative;
  width: 100%;
  display: block;
  margin: auto auto;
}
.bgColor {
  background-color: #F7F2EE !important;
}
/* FORM */
#form-container-teste-newsletter-bb8489354752dca8b3b3 #conversion-teste-newsletter-bb8489354752dca8b3b3 header h1,
#form-container-teste-newsletter-bb8489354752dca8b3b3 #conversion-teste-newsletter-bb8489354752dca8b3b3 header h1,
#conversion-teste-newsletter-bb8489354752dca8b3b3 form label,
#conversion-teste-newsletter-bb8489354752dca8b3b3 form p.notice,
#conversion-teste-newsletter-bb8489354752dca8b3b3 form p.notice a,
h2#form-teste-newsletter-bb8489354752dca8b3b3 *,
h2#form-teste-newsletter-bb8489354752dca8b3b3 ::before,
h2#form-teste-newsletter-bb8489354752dca8b3b3 ::after {
  font-family: 'Nunito', sans-serif !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3 #conversion-teste-newsletter-bb8489354752dca8b3b3 section form {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: center !important;
}
div#form-container-teste-newsletter-bb8489354752dca8b3b3 #conversion-teste-newsletter-bb8489354752dca8b3b3 section {
  padding: 3rem 12rem 3rem 12rem !important;
}
#conversion-teste-newsletter-bb8489354752dca8b3b3 section div.field,
#conversion-modal-teste-newsletter-bb8489354752dca8b3b3 .modal-content section form div.field,
#conversion-modal-teste-newsletter-bb8489354752dca8b3b3 .modal-content section div.actions,
#conversion-teste-newsletter-bb8489354752dca8b3b3 section div.actions {
  display: inline-block !important;
  vertical-align: middle !important;
  height: 100% !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3 #conversion-teste-newsletter-bb8489354752dca8b3b3 #conversion-form-teste-newsletter-bb8489354752dca8b3b3 div.actions input.call_button {
  font-size: 14px !important;
  vertical-align: middle !important;
  padding: 6px 10px !important;
  font-family: 'Nunito', sans-serif !important;
  line-height: normal !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3 #conversion-teste-newsletter-bb8489354752dca8b3b3 #conversion-form-teste-newsletter-bb8489354752dca8b3b3 div.actions {
  text-align: center !important;
  padding: 22px 0 8px 0 !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3 #conversion-teste-newsletter-bb8489354752dca8b3b3 #conversion-form-teste-newsletter-bb8489354752dca8b3b3 div.field {
  padding: 0 12px 12px 0 !important;
}
#form-container-teste-newsletter-bb8489354752dca8b3b3 #conversion-teste-newsletter-bb8489354752dca8b3b3 #conversion-form-teste-newsletter-bb8489354752dca8b3b3 div.field input {
  font-size: 14px !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  padding-right: 10vw !important;
}
#formColor {
  background-color: #39C6B3 !important;
}
.formTextNews {
  color: white;
  font-size: 1.6rem;
}
/*DEPARTAMENTO*/
.menu-departamento {
  align-items: baseline;
}
.bgColor .menu-departamento {
  display: inline-flex;
}
.bgColor .menu-departamento h3 {
  font-size: 16px !important;
  margin-right: 10px;
}
.bgColor .menu-departamento h3 a {
  color: #2EA2CC;
}
.bgColor .menu-departamento ul {
  margin-bottom: 0 !important;
}
aside.sidebar {
  float: left;
  width: 15%;
  margin-right: 1rem;
}
aside .menu-departamento h3 {
  font-size: 1.3rem;
}
aside .menu-departamento ul li a {
  font-size: 0.8rem;
  color: gray;
  margin-left: 10px;
}
aside .menu-departamento h2 {
  font-size: 2rem;
}
aside .menu-departamento h3 {
  font-size: 1.75rem;
}
aside .menu-departamento h4 {
  font-size: 1.5rem;
}
aside .menu-departamento h5 {
  font-size: 1rem;
}
aside .menu-departamento h3 a {
  color: #2EA2CC !important;
}
aside .menu-departamento h4 a {
  color: #39C6B3 !important;
}
article h2 {
  font-size: 2rem;
  color: #E57B3E;
}
.resultado-busca-filtro {
  display: inline-flex !important;
}
.resultado-busca-filtro select {
  width: auto !important;
  padding: 5px;
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #2EA2CC !important;
  border: 1px solid #39C6B3;
  border-radius: 5px;
  background-color: #F7F2EE;
}
#content {
  display: flex;
}
.compare {
  display: none;
}
#main-content {
  width: 85%;
  float: left;
}
#collections {
  padding-top: 2rem;
}
.sub {
  padding-bottom: 2rem;
}
.gift-list-insert, .product-insertsku {
  display: none;
}
p.flag {
  display: none;
}
/*CATEGORIA*/
.main fieldset {
  margin-left: 10px;
}
.navigation-tabs {
  font-size: 10px;
}
.product-image {
  background: #F8F8F8;
  border-radius: 5px;
}
.product-image img {
  background: #F8F8F8;
  border-radius: 5px;
}
.product-name {
  margin: 1rem 1rem 0 1rem;
  float: left;
  clear: both;
}
.product-name a {
  font-size: 16px;
  color: #717D84;
}
.price {
  margin: 1rem 1rem 0 1rem;
  float: left;
  clear: both;
}
.add {
  margin: 1rem 1rem 1rem 0;
  float: right;
}
.add a {
  font-size: 18px;
  color: #E57B3E !important;
}
.menu-navegue {
  display: flex;
  padding-bottom: 20px;
  flex-flow: column;
}
.menu-navegue a {
  background-color: #E57B3E;
  padding: 5px;
  margin-bottom: 10px;
  color: white;
  font-size: 0.8rem;
  border-radius: 3px;
  width: 120px;
  text-align: center;
}
.search-single-navigator ul li {
  color: gray;
  font-size: 0.8rem;
}
.search-single-navigator ul a {
  color: gray;
  font-size: 0.8rem;
  margin-left: 10px;
}
.prateleira ul {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}
.prateleira ul li {
  margin: 0 10px 10px 0;
  background: #F4F4F3;
  border-radius: 5px;
  flex: 0;
}
.best-price, 
.installment {
  color: #2EA2CC;
  font-size: 1rem;
}
.resultado-busca-filtro {
  align-items: flex-end;
}
/* CORES */
.colorWhite {
  color: white;
}
.textBlue {
  color: #2EA2CC;
}
.textGreen {
  color: #39C6B3;
}
.textOrange {
  color: #E57B3E;
  font-weight: 800;
}
.textGray {
  color: #717D84;
  font-size: 16px;
}
.fontSize26 {
  font-weight: 300 !important;
}
.fontSize14 {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #E57B3E;
}
button.btnOrange {
  background-color: #E57B3E !important;
  color: white !important;
}
/* CARDS */
.cardWhite {
  background-color: #F7F2EE !important;
  border: none !important;
}
.card-body-orange {
  background-color: #E57B3E !important;
}
.cardGreen {
  background-color: #39C6B3 !important;
}
.cardBlue {
  background-color: #2EA2CC !important;
}
.card-body {
  background-color: #F7F2EE !important;
  color: gray !important;
}
.card-header {
  background-color: #2EA2CC !important;
  color: white !important;
}
.card-header h2 button {
  color: white !important;
}
.card-header:hover {
  background-color: #E57B3E !important;
  color: white !important;
}
/* MODAL */
.modal-content {
  color: #333;
}
/* LOGIN */
#vtexIdContainer .vtexIdUI {
  font-family: 'Nunito', sans-serif !important;
  border: 2px solid #39C6B3 !important;
}
#vtexIdContainer .vtexIdUI {
  background-color: #E57B3E !important;
}
#vtexIdContainer .modal-header {
  background-color: #E57B3E !important;
  border-bottom: none !important;
  display: initial !important;
}
#vtexIdContainer .modal-body {
  background-color: #E57B3E !important;
}
#vtexIdContainer .modal-footer {
  border-top: none !important;
  box-shadow: none !important;
  background-color: #E57B3E !important;
}
#vtexIdContainer h4 {
  text-align: center !important;
  font-size: 1.2rem !important;
  color: #F7F2EE !important;
}
#vtexIdContainer .btn-success {
  background-color: #39C6B3 !important;
  border: 1px solid #F7F2EE !important;
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
#vtexIdContainer .btn {
  background-image: none !important;
  border-radius: 6px !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
button.vtexIdUI-others-send-email {
  background-color: #2EA2CC !important;
  color: #F7F2EE !important;
}
.vtexIdUI-heading {
  text-align: center !important;
}
.vtexid-icon-mail {
  display: none !important;
}
.vtexIdUI .pull-right {
  color: #F7F2EE !important;
}
.vtexIdUI .vtexId-link,
.vtexIdUI a {
  color: #F7F2EE !important;
}
span.vtexIdUI-heading {
  color: white !important;
}
span.flex.align-baseline.relative {
  color: #39C6B3;
}
/* ORDERS */
section.container {
  padding: 2rem;
}
aside.vtex-account__menu.pv9.pv0-m-2.ph9.ph7-m.ph8-l.w-20-m.w-100 {
  width: auto !important;
}
.vtex-pageHeader__container.pa5.pa7-ns {
  padding: 0 !important;
}
/* CARRINHO ABANDONADO */
th {
  background-color: #F7F2EE;
  color: #E57B3E;
}
/*CARRINHO*/
#cart-title {
  color: red;
}
/*CONTATO*/
#form-container-contato-site-a34c34a001d98d0c0e95 #conversion-contato-site-a34c34a001d98d0c0e95 section {
  padding: none !important;
}
/*ZOOM*/
.zoomPad{position:relative;float:left;z-index:99;cursor:crosshair} 
.zoomPreload{-moz-opacity:.8;opacity:.8;filter:alpha(opacity=80);color:#333;font-size:12px;font-family:Tahoma;text-decoration:none;border:1px solid #CCC;background-color:#fff;padding:8px;text-align:center;background-image:url(/arquivos/ajax-loader.gif);background-repeat:no-repeat;background-position:center center;z-index:110;width:100%;height:100%;position:absolute;top:0;left:0;} 
.zoomPup{overflow:hidden;background-color:#FFF;-moz-opacity:.6;opacity:.6;filter:alpha(opacity=60);z-index:120;position:absolute;border:1px solid #CCC;z-index:101;cursor:crosshair} 
.zoomOverlay{position:absolute;left:0;top:0;background:#FFF;z-index:5000;width:100%;height:100%;display:none;z-index:101} 
.zoomWindow{position:absolute; left:445px !important; top:40px; background:#FFF; z-index:6000; height:auto; z-index:10000; z-index:110;} 
.zoomWrapper{position:relative;border:1px solid #999;z-index:110; width:531px !important; height:400px !important;} 
.zoomWrapperTitle{display:block;background:#999;color:#FFF;height:18px;line-height:18px;width:100%;overflow:hidden;text-align:center;font-size:10px;position:absolute;top:0;left:0;z-index:120;-moz-opacity:.6;opacity:.6;filter:alpha(opacity=60)} 
.zoomWrapperImage{display:block;position:relative;overflow:hidden;z-index:110; height:400px !important;} 
.zoomWrapperImage img{border:0;display:block;position:absolute;z-index:101} 
.zoomIframe{z-index:-1;filter:alpha(opacity=0);-moz-opacity:.8;opacity:.8;position:absolute;display:block}
/* DISPLAY NONE */
.searchResultsTime,
.search legend,
.search label,
.search select,
#ajaxBusy,
.modal-backdrop {
  display: none ! important;
}
/* MOBILE */
@media (max-width: 1000px) {
  aside.sidebar {
    display: none !important;
  }
  .fulltext-search-box {
    width: 200px;
}
}
@media (max-width: 768px) {
  .search {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  div#form-container-teste-newsletter-bb8489354752dca8b3b3 #conversion-teste-newsletter-bb8489354752dca8b3b3 section {
    padding: 2rem 3rem 2rem 3rem !important;
  }
  .fulltext-search-box {
    width: 250px;
  }
  .bgColor .menu-departamento {
    display: block;
  }
  .bgColor .menu-departamento h3 {
    font-size: 16px !important;
    padding: 15px 0 0 0;
  }
  .bgColor .menu-departamento h3 a {
    color: #2EA2CC;
  }
  #content {
    padding: 1rem !important; 
  }
  .product-image, 
  .product-name, 
  .price, 
  .add {
  display: flex;
  }
  .prateleira ul li {
    margin: 10px;
    flex: 1 40%;
  }
  .prateleira ul li span.box-item img {
    width: 100%;
    height: 100%;
  }
  .add a {
    font-size: 1rem !important;
    color: #E57B3E !important;
    margin: 0 auto;
  }
  #main-content {
    width: 100%;
    float: left;
  }
  article .title-category h2 {
    font-size: 2rem;
    text-align: center;
  }
  img.rounded.mx-auto.d-block {
    width: 100%;
  }
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}